body {
	padding: 50px;
  	font-family: "Avant Garde", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	background-color: #A9A9A9; 
}

a:hover {
  	color: #AA4500; 
}

.user {
	padding: 50px;
  	font-family: "Avant Garde", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	background-color: #A9A9A9; 
}

.profile {
	text-align: right;
	margin-right: 50px;
}

.logout {
	text-align: right;
	margin-right: 50px;
}

.listing {
	text-align: center;
}


.pic {
	float:left; 
	width:480px;
	margin-left: 60px;
	border:2px solid #021a40;
	/*
	position: relative;
	bottom: 30px;
	margin-right: 15px;
    
	border:2px solid #021a40;
	
	position: relative;
	right: 0px;
	float: left;
	*/
}

.descriptions {
	float:left; 
	width:480px;
	text-align: center;

}


.comments {
	padding: 50px;
  	font-family: "Avant Garde", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	background-color: #A9A9A9; 
}