

<ol>
{{#each items as |item|}}
<li>{{item.name}}</li>
{{/each}}
</ol>


<center><h1>Welcome to The Flee Market<h1></center>

<form method="POST" action="">
Username: <input type="text" name="username"> <br><br>
<input type="submit" value="Submit">
</form>
