<h1>Register</h1>
{{#if error}}
    <p>{{error}}!<br>Please try again</p>
{{/if}}
{{#if user}}
    <p>You are already logged in!</p>
 {{/if}}

<form method="POST" action="">
Username: <input type="text" name="username"> <br><br>
Password: <input type="password" name="password"><br><br>
<input type="submit" value="Submit">
</form>
